extends partial/layout

block container
    include mixins/post
    - site.posts.each(function (item) {
        if item.sticky
            ul.home.post-list.post-sticky
                +postListItem(item)
    - })
    +posts()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
