@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

body {
	font-family: 'sourcesanspro', 'Noto Sans TC', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;
	min-width: 320px;
}

header {
	min-height: 120px;
	margin-top: 20px;
	padding: 20px 0px;
}

header .logo-link img {
	height: 120px;
	transform: scaleX(-1);
}

.wrap {
	width: 640px;
}

.post-block .post-title {
	font-size: 2em;
	margin-bottom: 0;
}
.post-block .post-info {
	margin-top: .5em;
	margin-bottom: 3em;
	position: relative;
}
.post-block .post-info:after {
	content: '';
	width: 1em;
	height: 2px;
	background-color: #42b983;
	position: absolute;
	bottom: -.5em;
	left: 0;
	opacity: .9;
}

.post-content h1 {
	font-size: 1.3em;
	font-weight: 600;
}
.post-content h2, .post-content h3 {
	margin-left: 1em;
	font-size: 1.1em;
	font-weight: 500;
}

.post-content a {
	border-bottom: 1px dotted #42b983;
}
.post-content a:hover {
	border-bottom: 1px solid #42b983;
}
.post-content .tip {
	margin-left: .75em;
}
code, pre {
	font-family: 'consolas', 'Noto Sans TC', sans-serif;
}

/* tags in post */
.post-info .post-tags {
	margin-left: 1em !important;
	display: inline-block;
}
.post-tag {
	/*color: white;*/
	/*background: #E36B6B;*/
	color: #E36B6B;
	border: 1px solid #E36B6B;
	border-radius: 1.5em;
	font-size: .9em;
	padding: .05em .5em 0 .5em;
	min-width: 1.5em;
	text-align: center;
	display: inline-block;
	line-height: 1.4;
}

.post-tag:hover {
	/*background: #42b983;
	color: white;*/
	border-color: #42b983;
	color: #42b983;
}

.post-tag:not(:last-child) {
	margin-right: .5em;
}

/* tags in archive */
.post-item .post-tags {
	/*margin-left: 125px;*/
	margin-bottom: .75em;
	display: block;
}
.post-item .post-tag {
	font-size: .8em;
}

@media screen and (min-width: 700px) {
	header .nav {
		line-height: 120px;
	}
}

/* mobile */
@media screen and (max-width: 700px) {
	.wrap {
		width: calc(100% - 2em);
		margin: auto;
	}
}


