body {
	font-family: 'sourcesanspro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif;
}

header {
	min-height: 120px;
	margin-top: 20px;
}

header .logo-link img {
	height: 120px;
	transform: scaleX(-1);
}


code, pre {
	font-family: 'consolas', sans-serif;
}

@media screen and (min-width: 700px) {
	header .nav {
		line-height: 120px;
	}
}

/* mobile */
@media screen and (max-width: 700px) {
	.wrap {
		width: calc(100% - 3em);
		margin: auto;
	}
}